<div class="Posts">
    <div class="AddEntry" (click)="AddPost()" matTooltip="Add Post">
        <i class="fas fa-plus"></i>
    </div>
    <div class="Header">
        <span>
            <i class="fas fa-address-card"></i>
            Posts
        </span>
    </div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
    </mat-form-field>
    <div class="Paginator">
        <mat-paginator [pageSizeOptions]="[50, 100, 200]" aria-label="Select page of posts"></mat-paginator>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Sno </th>
                <td mat-cell *matCellDef="let element;"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef> User Id </th>
                <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title</th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <div class="Actions">
                        <i class="fas fa-edit" (click)="Edit(element)"> </i>
                        <i class="fas fa-trash-alt" (click)="Delete(element)"> </i>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </div>
</div>